/* .login {
  background-color: lightgray;
  display: flex;
  place-items: center;
  height: 100wh;
  width: 100vw;
} */

/* .card img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
} */

img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
  margin-top: 17px;
}
